:root {
  --dark_background: #2b2e42;
  --light_background: #eeedff;
  --logo_color_weall: #c6dffd;
}


html {
  background-color: var(--dark_background);
  height: 100%;
}

body {
  background-color: var(--dark_background);
  height: 100%;
}

h2 {
  color: white;
  font-size: 25px;
  margin: auto;
  padding-left: 30px;
}

.App {
  background-color: var(--dark_background);
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#logoNav{
  margin-left: 15px;

}


.App-header {
  background-color: var(--dark_background);
  color: white;
  width: 100%;

}

.App-link {
  background-color: var(--dark_background);
}

.uk-navbar-container {
  display: flex;
  width: 100%;
  background-color: var(--dark_background) !important;
}

.uk-navbar-right{
  background-color: var(--dark_background);
  color: white;

}
.uk-navbar-left{
  background-color: var(--dark_background);
  color: white;
  justify-content: flex-end;
}

.uk-navbar-nav > li > a {
  color: white;

}






