h3 {
    font-size: 40px ;
    color: black;
    padding: 10px;
}

h6 {
    font-size: 22px ;
    padding-bottom: 20px;
    color: black;
}

.uk-grid {
    position: center;
    margin-left: 0px;
}

#logContent {
    text-align: center;
    align-items: center;
}

input,
textarea {
    background-color: white;
    border-radius: 7px ;
    margin: 10px;
    padding: 12px 15px 12px 15px ;
    width: 100%;
    box-sizing: border-box;
    border: none ;
    border: 1px solid #F3E5F5 ;
    font-size: 16px ;
    color: black;

}

.textLog{
    font-size: 20px ;
    padding: 10px;
    color: black;
}



button:focus {
    -moz-box-shadow: none ;
    -webkit-box-shadow: none ;
    box-shadow: none ;
    outline-width: 0;
}


#logo {
    width: 70px;
    height: 60px;
}


.btn-color {
    border-radius: 7px;
    background-color: var(--dark_background);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none ;
    margin-top: 40px;
    font-size: 20px;

}

.btn-color:hover {
    color: #fff;
}

.btn-white {
    border-radius: 50px;
    background-color: var(--dark_background);
    background-color: #fff;
    padding: 12px 70px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid var(--dark_background) ;

}

.btn-white:hover {
    color: #fff;
}

a {
    color: #000
}

a:hover {
    color: #000
}


