html {
  background-color: #414b71;
  height: 100%;
}

body {
  background-color: #414b71;
  height: 100%;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #414b71;
  align-items: center;
  align-content: flex-end;
  height: auto;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #414b71;
  color: white;
  width: 100%;

}

.App-link {
  background-color: #414b71;
}

.uk-navbar-container {
  width: 100%;
}

.uk-navbar-right{
  background-color: #414b71;
  color: white;
  justify-content: flex-end;
}

.uk-navbar-nav > li > a {
  color: white;

}






