
.App {
  text-align: center;
  background-color: #414b71;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #414b71;
  align-items: center;
  justify-content: center;
  color: white;

}

.App-footer{
  display: flex;
  align-items: center;
  background-color: #414b71;
  justify-content: center;
  padding: 11px;

}

.App-link {
  background-color: #414b71;
}




.uk-navbar-left {
  background-color: #414b71;
  color: white;
  justify-content: flex-end;
}

.uk-navbar-nav > li > a {
  color: white;

}






